#terraform.tfvars file example

#aws
aws_region = "us-east-1"
aws_profile = "default"

#lightsail
project_name = "learning-lightsail"

#database
db_name            = "db-postgres"
db_master_username = "username_postgres"
db_master_password = "password123456"
db_bundle_id       = "micro_2_0"
